<launch>
	<machine name="Alfred" address="192.168.1.221" env-loader="/home/arnix/Alfred/envAlfred.sh" default="true" user="arnix"/>
	<machine name="Faye" address="192.168.1.211" env-loader="/home/arnix/src/alfred/envFaye.sh" default="false" user="arnix"/>
	
	<node machine="Alfred" pkg="hal_pigpio" name="hal_pigpio_node" type="hal_pigpio_node"/>
	<node machine="Alfred" pkg="hal_proxsens" name="hal_proxsens_node" type="hal_proxsens_node"/>
	<node machine="Alfred" pkg="hal_imu" name="hal_imuI2cInit_node" type="hal_imuI2cInit_node"/>
	<node machine="Alfred" pkg="hal_imu" name="hal_imuDmpWritingServer_node" type="hal_imuDmpWritingServer_node"/>
	<node machine="Alfred" pkg="hal_imu" name="hal_imu_node" type="hal_imu_node"/>
	<node machine="Alfred" pkg="hal_motorcontrol" name="hal_motorcontrol_node" type="hal_motorcontrol_node"/>
</launch>

